/.idea/
/cgi-bin/
.DS_Store
Thumbs.db
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/frontend/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/backup/
*.log
/upload/tmp/
/test/
bx_1c_import.php
/upload/1c_catalog/
/upload/resize_cache/
/upload/1c_exchange/
.htaccess
/bitrix/catalog_export/
/bitrix/crontab/
/bitrix/js/ipol.sdek/list.json
/bitrix/themes/.default/modules.css